[submodule "fonts-awesome-terminal-fonts"]
	path = font/awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule "vundle"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
